@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;1,200;1,300;1,400&display=swap');


html, body{
  box-sizing: border-box;
  margin: 0;
  background: linear-gradient(rgb(239, 250, 253), white) fixed;
  min-height: 100%;
}

